Q1) List any five functions of the pandas library with execution.

In [ ]:
Here are five functions of the Pandas library with example code:

1)The DataFrame() function creates a pandas DataFrame, which is a 2-dimensional labeled data structure with columns of potentially different types. The DataFrame
can be created from a variety of sources, such as a dictionary, a NumPy array, or a CSV file.
Example:

In [1]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {"Name": ['tom', 'krish', 'nick', 'juli'], "Age": [25, 30,26,22]}
df = pd.DataFrame(data)
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [ ]:
2)describe(): The describe() function generates descriptive statistics of a pandas DataFrame, such as count, mean, standard deviation, and more. This function is
useful for quickly understanding the distribution and range of values in a dataset.
Example:

In [2]:
# Generating descriptive statistics of a DataFrame
df.describe()

             Age
count   4.000000
mean   25.750000
std     3.304038
min    22.000000
25%    24.250000
50%    25.500000
75%    27.000000
max    30.000000

In [ ]:
3) nunique() - This function in Pandas is used to get a count of unique values for each column in a DataFrame. It returns a Pandas Series containing the number of
unique values for each column in the DataFrame.

In [3]:
df.nunique()

Name    4
Age     4
dtype: int64

In [ ]:
4) info(): This function is used to print a summary of a DataFrame, including information about the data types, number of non-null values, and memory usage.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [ ]:
5)pivot_table(): This function is used to create a spreadsheet-style pivot table based on a Pandas DataFrame, which is useful for summarizing and aggregating data.
Example

In [5]:
# Creating a DataFrame
data = {"Name": ["Alice", "Bob", "Charlie", "David", "Ella", "Frank"],
        "Sex": ["F", "M", "M", "M", "F", "M"],
        "Age": [25, 30, 35, 40, 25, 30],
        "Salary": [50000, 60000, 70000, 80000, 55000, 65000]}
df = pd.DataFrame(data)

# Creating a pivot table
pivot_df = pd.pivot_table(df, index=["Sex", "Age"], values="Salary", aggfunc="mean")

pivot_df

         Salary
Sex Age
F   25    52500
M   30    62500
    35    70000
    40    80000

In [ ]:
6)merge(): The merge() function merges two pandas DataFrames based on one or more common columns. This function is useful for combining data from multiple sources
based on a shared key.

Example:

In [6]:
# Creating two DataFrames
df1 = pd.DataFrame({"Name": ["Alice", "Bob"], "Age": [25, 30]})
df2 = pd.DataFrame({"Name": ["Bob", "Charlie"], "Salary": [50000, 60000]})

# Merging two DataFrames based on a common column
merged_df = pd.merge(df1, df2, on="Name")
merged_df

  Name  Age  Salary
0  Bob   30   50000

Q2) Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
Here's a Python function that re-indexes the DataFrame df with a new index that starts from 1 and increments by 2 for each row:

In [7]:
# Creating a custom function for generating the dataframe as mentioned above
def reindex_dataframe(df):
    new_index = range(1, len(df)+1, 2) # create new index starting from 1 and incrementing by 2
    df = df.reindex(new_index) # re-index the DataFrame with the new index
    return df

In [8]:
# create sample DataFrame
df = pd.DataFrame({'A': ['X', 'Y', 'Z', 'A','B','C'], 'B': [True, False,True, True, True, False], 'C': [1, 2, 3, 4, 5, 6]})

# Showing orignal DataFrame
df

   A      B  C
0  X   True  1
1  Y  False  2
2  Z   True  3
3  A   True  4
4  B   True  5
5  C  False  6

In [9]:
# re-index the DataFrame
df_reindexed = reindex_dataframe(df)

# print the re-indexed DataFrame
df_reindexed

   A      B  C
1  Y  False  2
3  A   True  4
5  C  False  6

Q3) You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [10]:
import pandas as pd

#Functin for priting the sum
def sum_first_three_values(df):
    values_col = df['Values']
    first_three_values = values_col.iloc[:3]
    sum_first_three = sum(first_three_values)
    print(f"The sum of the first three values in the 'Values' column is {sum_first_three}.")
    
#Driver Code
# Creating a sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Calculating the sum of the first three values in the 'Values' column using the sum_first_three_values() function
sum_first_three_values(df)

The sum of the first three values in the 'Values' column is 60.

Q4) Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [ ]:
Here's an example code to create a Pandas DataFrame df with a 'Text' column and then add a new column 'Word_Count' that contains the number of words in each row 
of the 'Text' column:

In [11]:
import pandas as pd

# Function to add 'Word_Count' column to the DataFrame
def add_word_count_column(df):
    # Split the 'Text' column on whitespace characters and count the resulting list
    word_count = df['Text'].str.split().apply(len)

    # Add the new 'Word_Count' column to the DataFrame
    df['Word_Count'] = word_count
    return df

#Driver code
# Creating a sample DataFrame
df = pd.DataFrame({'Text': ['This is a sample sentence',
                            'Here is another sentence',
                            'One more sentence for the example']})

# Adding 'Word_Count' column to the DataFrame
df = add_word_count_column(df)

# Displaying the updated DataFrame
print(df)

                                Text  Word_Count
0          This is a sample sentence           5
1           Here is another sentence           4
2  One more sentence for the example           6

In [ ]:
In this example code, we first create a sample DataFrame df with a 'Text' column containing three sample sentences. We then define a function named 
add_word_count_column that takes a DataFrame df as an argument and adds a new column 'Word_Count' to it.

Inside the function, we use the str.split() method to split each row of the 'Text' column on whitespace characters, resulting in a new pandas Series object where
each element is a list of words. We then use the apply() method with the built-in len() function to count the number of words in each list and return a new pandas
Series object containing those counts.

Finally, we add the new 'Word_Count' column to the original DataFrame df using the df['Word_Count'] = word_count syntax. We then return the modified DataFrame.

After defining the function, we call it on the original DataFrame df to add the 'Word_Count' column to it. We then print the updated DataFrame to verify that the
new column has been added.

Q5) How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
Both DataFrame.size and DataFrame.shape are attributes of a Pandas DataFrame, but they return different values.

1) DataFrame.size : returns the total number of elements in the DataFrame, which is the product of the number of rows and columns. It is equivalent to the size of
the underlying NumPy array.

2) DataFrame.shape : returns a tuple containing the number of rows and columns in the DataFrame, respectively. It is a convenient way to check the dimensions of
the DataFrame.

Here's an example that demonstrates the difference between DataFrame.size and DataFrame.shape:

In [12]:
# create a sample DataFrame with 2 rows and 3 columns
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4], 'C': [5, 6]})

# print the size and shape of the DataFrame
print("DataFrame size:", df.size)
print("DataFrame shape:", df.shape)

DataFrame size: 6
DataFrame shape: (2, 3)

Q6) Which function of pandas do we use to read an excel file?

In [ ]:
We use the read_excel() function of pandas to read an excel file. This function reads the data from an excel file and returns a pandas DataFrame.

The basic syntax of read_excel() function is as follows:

In [ ]:
pd.read_excel('file_name.xlsx', sheet_name='Sheet1')

In [ ]:
Here, file_name.xlsx is the name of the excel file to be read, and Sheet1 is the name of the sheet to be read from the excel file. By default, Sheet1 is the first
sheet of the excel file.

We can also specify other parameters to customize how the excel file is read, such as specifying the range of cells to read, skipping rows or columns, specifying
the data types of columns, and so on.

Q7) You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username' column.

In [ ]:
The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' 
column should contain 'john.doe'. Yourfunction should extract the username from each email address and store it in the new 'Username'column.

Here's a Python function that creates a new 'Username' column in a Pandas DataFrame based on the 'Email' column:

In [13]:
import pandas as pd

# Function to extract username from email address
def extract_username(email):
    return email.split('@')[0]

#Driver Code
# Creating a sample DataFrame
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com', 'jimmy.smith@example.com']})

# Creating a new 'Username' column by applying the 'extract_username' function to the 'Email' column
df['Username'] = df['Email'].apply(extract_username)

print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1     jane.doe@example.com     jane.doe
2  jimmy.smith@example.com  jimmy.smith

In [ ]:
Q8) You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [ ]:
Your function should select the following rows: A B C 1 8 2 7 4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

Here's the code for selecting the desired rows:

In [14]:
#Function for returing the new dataFrame of selected rows
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows


#Driver code
# Creating a sample DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

new_df = select_rows(df)

print(new_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9) Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.

In [15]:
def calculate_stats(df):
    # calculate the mean, median, and standard deviation of the 'Values' column
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()

    return mean, median, std_dev

In [16]:
df = pd.DataFrame({'Values': [11, 18, 36, 45, 67]})
df

   Values
0      11
1      18
2      36
3      45
4      67

In [17]:
mean, median , stdev = calculate_stats(df)
print(f'Mean of Values is : {mean}')
print(f'Median of Values is : {median}')
print(f'Standard Deviation of Values is : {round(stdev,4)}')

Mean of Values is : 35.4
Median of Values is : 36.0
Standard Deviation of Values is : 22.3002

In [ ]:
The calculate_stats() function takes in the DataFrame as an argument, selects the 'Values' column, and calculates the mean, median, and standard deviation of the
values in that column using the np.mean(), np.median(), and np.std() functions respectively. The function then prints out the results to the console.

Finally, the function is called with the sample DataFrame as an argument to calculate the mean, median, and standard deviation of the values in the 'Values'
column.

Q10) Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [ ]:
Here's a Python function that creates a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the
DataFrame:

In [18]:
import pandas as pd

def moving_average(df):
    # Sort the DataFrame by date
    df = df.sort_values(by='Date')
    
    # Calculate the rolling mean with window size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df


#Driver Code
# Create a sample DataFrame
df = pd.DataFrame({'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50],
                   'Date': pd.date_range('2022-01-01', periods=9)})

# Calculate the moving average
df = moving_average(df)

# Print the result
print(df)

   Sales       Date  MovingAverage
0     10 2022-01-01           10.0
1     15 2022-01-02           12.5
2     20 2022-01-03           15.0
3     25 2022-01-04           17.5
4     30 2022-01-05           20.0
5     35 2022-01-06           22.5
6     40 2022-01-07           25.0
7     45 2022-01-08           30.0
8     50 2022-01-09           35.0

In [ ]:
The function takes a Pandas DataFrame with columns 'Sales' and 'Date' as input. The function first sorts the DataFrame by date using the sort_values method, and
then calculates the rolling mean with a window size of 7 using the rolling method and the mean method. The resulting moving average values are stored in a new 
'MovingAverage' column in the DataFrame. Finally, the function returns the modified DataFrame.

Q11) You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [19]:
def return_weekdays(df):

    # Below changes String Date to datetime format
    df['Date']=pd.to_datetime(df['Date'])

    # below returns weekdays returns weekday
    df['Weekday'] = df['Date'].dt.day_name()
    return df

In [20]:
df = pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})
df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [21]:
df_new = return_weekdays(df)
df_new

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12) Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [22]:
import pandas as pd

# create function to select rows within date range
def select_dates(df, start_date, end_date):
    return df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]



# Driver Code
# create dataframe with date range
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', end='2023-02-28', freq='D')
})

# select rows within date range
selected_df = select_dates(df, '2023-01-01', '2023-01-31')
print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

In [ ]:
This will create a DataFrame df with a single column 'Date' that contains timestamps for each day between '2023-01-01' and '2023-02-28'. The select_dates()
function takes in the DataFrame df as well as the start and end dates for the desired date range, and returns a new DataFrame selected_df containing only the rows
within that date range.

Q13) To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. You can import pandas using the 
following statement:

In [24]:
import pandas as pd

In [ ]:
This statement imports the pandas library and gives it an alias pd, which is a common convention in the Python community. With this import statement, you can then
use all the basic functions of pandas such as creating a DataFrame, manipulating data within a DataFrame, and performing various types of analyses and
transformations on the data.